* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 60px;
  border: 1px solid red;
  margin: 0 auto;
}

.nav .brand {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 78vh;
  border: 1px solid red;
  margin: 20px auto;
  padding: 10px;
}

.container div {
  text-align: center;
  width: 40%;
  height: 40vh;
  border: 1px solid blue;
}

.menu-item {
  width: 40%;
}

.menu{
  display: flex;
  justify-content: space-around;
}
.menu a{
  text-decoration: none;
}

.item {
  padding: 5px;
  list-style-type: none;
}