* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tel {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 50vh;
  border: 1px solid red;
  margin: 50px auto;
}

.tel-item {
  width: 150px;
  height: 150px;
  background: blue;
  margin: 10px auto;
}